<form [formGroup]="gateForm" (ngSubmit)="onSubmit()" novalidate>
  <mat-form-field>
    <input matInput name="gateName"
    id="gateName" placeholder="Name"
    formControlName="name"
    autocomplete="off" required>
  </mat-form-field>

  <mat-divider class="sm-form-divider-margins"></mat-divider>
  <mat-dialog-actions>
    <button type="submit" [disabled]="!gateForm.valid" mat-raised-button>OK</button>
    <button type="button" mat-raised-button (click)="onCancel()">Cancel</button>
  </mat-dialog-actions>
</form>
