<form *ngIf="ExitPersonForm != null" [formGroup]="ExitPersonForm" (ngSubmit)="onSubmit()" novalidate>
  <mat-form-field>
    <input matInput (keyup.enter)="selectEmp()" type="text"
      placeholder="Exit Employee"
      (keydown.enter)="$event.preventDefault()"
      formControlName="exitEmployee"
      [matAutocomplete]="entEmp"
      required>
  </mat-form-field>
  <mat-autocomplete #entEmp="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let e of employees" [value]="e" >
        {{ e.name }} {{e.surname}}
      </mat-option>
  </mat-autocomplete>

  <mat-checkbox
    *ngIf="paid"
    [checked]="paid"
    [disabled]="paid"
    (change)="onPaid($event)">Paid</mat-checkbox>

  <mat-form-field *ngIf="paid">
    <input matInput type="text"
      placeholder="Account Number"
      formControlName="billNumber"
      >
  </mat-form-field>

  <span class="lead" style="margin-left: 20%;">Charge {{nDays}} days</span>

  <mat-divider class="sm-form-divider-margins"></mat-divider>
  <mat-dialog-actions>
    <button type="button" (click)="onSubmit()" (keydown.enter)="$event.preventDefault()" [disabled]="!ExitPersonForm.valid" mat-raised-button>OK</button>
    <button type="button" mat-raised-button (click)="onCancel()">Cancel</button>
  </mat-dialog-actions>
</form>
