<!-- <div class="slTable mat-elevation-z8">
  <div class="slTable-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div> -->

  <ag-grid-angular
    style="width: 100%; height: 100%;"
    class="ag-theme-balham"
    [enableSorting]="true"
    [enableFilter]="true"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
  >
  </ag-grid-angular>

  <!-- <mat-table #slTable [dataSource]="slDataSource" matSort>
    <ng-container class="cell-container" matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header > Name </mat-header-cell>
      <mat-cell *matCellDef="let slSubject"> {{slSubject.name}} </mat-cell>
    </ng-container>
    <ng-container class="cell-container" matColumnDef="surname">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Surname</mat-header-cell>
      <mat-cell *matCellDef="let slSubject">{{slSubject.surname}}</mat-cell>
    </ng-container>
    <ng-container class="cell-container" matColumnDef="jobTitle">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Job Title</mat-header-cell>
      <mat-cell *matCellDef="let slSubject">{{slSubject.jobTitle}}</mat-cell>
    </ng-container>
    <ng-container class="cell-container" matColumnDef="ID">
      <mat-header-cell *matHeaderCellDef mat-sort-header>ID Number</mat-header-cell>
      <mat-cell *matCellDef="let slSubject">{{slSubject.ID}}</mat-cell>
    </ng-container>
    <ng-container class="cell-container" matColumnDef="validityDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Validity Date</mat-header-cell>
      <mat-cell *matCellDef="let slSubject">{{slSubject.validityDate | date:'shortDate'}}</mat-cell>
    </ng-container>
    <ng-container class="cell-container" matColumnDef="backgroundValidityCheck">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Background Validity Check</mat-header-cell>
      <mat-cell *matCellDef="let slSubject">{{slSubject.backgroundValidityCheck}}</mat-cell>
    </ng-container >
    <ng-container class="cell-container" matColumnDef="approvedAreas">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Approved Areas</mat-header-cell>
      <mat-cell *matCellDef="let slSubject">{{slSubject.approvedAreas}}</mat-cell>
    </ng-container>
    <ng-container class="cell-container" matColumnDef="dateOfIssue">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Date Of Issue</mat-header-cell>
      <mat-cell *matCellDef="let slSubject">{{slSubject.dateOfIssue | date:'shortDate'}}</mat-cell>
    </ng-container>
    <ng-container class="cell-container" matColumnDef="status">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
      <mat-cell *matCellDef="let slSubject">{{slSubject.status}}</mat-cell>
    </ng-container>
    <ng-container class="cell-container" matColumnDef="secAwareDOT">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Security Awareness Date Of Training</mat-header-cell>
      <mat-cell *matCellDef="let slSubject">{{slSubject.secAwareDOT | date:'shortDate'}}</mat-cell>
    </ng-container>
    <ng-container class="cell-container" matColumnDef="proximityCardNo">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Proximity Card No</mat-header-cell>
      <mat-cell *matCellDef="let slSubject">{{slSubject.proximityCardNo}}</mat-cell>
    </ng-container>
    <ng-container class="cell-container" matColumnDef="code">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Code</mat-header-cell>
      <mat-cell *matCellDef="let slSubject">{{slSubject.code}}</mat-cell>
    </ng-container>
    <ng-container class="cell-container" matColumnDef="airport">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Airport</mat-header-cell>
      <mat-cell *matCellDef="let slSubject">{{slSubject.airport}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table> -->

<!-- </div> -->
