div.lists-container {
  position: relative;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin:auto;
  /* display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: space-around;
  margin:auto; */
  /* padding-bottom: 5%; */
  /* width:100%;
  height:100%; */
}

.filter-panel {
  padding: 5px 1em;
}

.filter-panel h3 {
  margin-top: 1.1%;
  margin-bottom: 1.1%;
}

/* div.lists-container > div.entered, div.lists-container > div.expected {
  width:38vw;
  height:79vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
} */

div.entered {
  position: relative;
  top:0;
  left:0;
  display:flex;
  flex-direction:column;
  height: 49%;
  width:49%;
  /* position: relative;

  top: 0;
  left: 0; */
}

div.expected {
  display:flex;
  flex-direction:column;
  height: 49%;
  width: 49%;
  /* position: relative;
  top: 0;
  left: 50%; */
}

div.lists-container > div {
  /* display:inline-block;
  width:49%; */
}

div.entered > div, div.expected > div {
  margin:1%;
  /* height:10%; */
  /* border: 1px solid green; */
  /* width: 38vw;
  height: 35vh; */
  /* height: 50vh;
  width: 100%; */
}

mat-table {
  width: 100%;
  height: 25vh;
  overflow:auto;
  /* width:100%;
  height: 84%;
  overflow: auto; */
}


h3 {
  /* text-align:center;
  margin: auto;
  font-family: monospace;
  font-variant: small-caps;
  letter-spacing: 0.2em; */
}
