<app-spinner *ngIf="showSpinner()" class="gateSpinner mat-elevation-z8"></app-spinner>
<div *ngIf="!showSpinner()" class="lists-container">
  <div class="entered">
    <div class="persons">
      <div class="filter-panel">
        <h3>Entered Persons</h3>
        <mat-form-field>
          <input matInput #enteredPersonsFilter [(ngModel)]="entPFval" (keyup)="applyFilterEnteredPersons($event.target.value)" autocomplete="off" placeholder="Filter">
        </mat-form-field>
      </div>

      <mat-table [dataSource]="dataSourceEnteredPersons" class="mat-elevation-z8">

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let enteredp"> {{enteredp.name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="company">
          <mat-header-cell *matHeaderCellDef> Company </mat-header-cell>
          <mat-cell *matCellDef="let enteredp"> {{enteredp.company}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="enteredGate">
          <mat-header-cell *matHeaderCellDef> Entered At Gate </mat-header-cell>
          <mat-cell *matCellDef="let enteredp"> {{enteredp.enteredGate}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="escortEmployee">
          <mat-header-cell *matHeaderCellDef> Escort Employee </mat-header-cell>
          <mat-cell *matCellDef="let enteredp">{{enteredp.escortEmployee}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="approvedBy">
          <mat-header-cell *matHeaderCellDef> Approved By </mat-header-cell>
          <mat-cell *matCellDef="let enteredp">{{enteredp.approvedBy}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="exit">
          <mat-header-cell *matHeaderCellDef> Exit </mat-header-cell>
          <mat-cell *matCellDef="let enteredp">
            <mat-icon matListIcon
            (click)="exitEnteredPerson(enteredp)"
            class="icon-control"
            >border_color</mat-icon>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumnsEnteredPerson"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumnsEnteredPerson;"></mat-row>
      </mat-table>
    </div>

    <div class="vehicles">
      <div class="filter-panel">
        <h3>Entered Vehicles</h3>
        <mat-form-field>
          <input matInput #enteredVehiclesFilter [(ngModel)]="entVFval"
          (keyup)="applyFilterEnteredVehicles($event.target.value)" autocomplete="off" placeholder="Filter">
        </mat-form-field>
      </div>

      <mat-table [dataSource]="dataSourceEnteredVehicles" class="mat-elevation-z8">

        <ng-container matColumnDef="model">
          <mat-header-cell *matHeaderCellDef> Model </mat-header-cell>
          <mat-cell *matCellDef="let enteredv"> {{enteredv.model}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="plate">
          <mat-header-cell *matHeaderCellDef> Plate </mat-header-cell>
          <mat-cell *matCellDef="let enteredv"> {{enteredv.plate}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="company">
          <mat-header-cell *matHeaderCellDef> Company </mat-header-cell>
          <mat-cell *matCellDef="let enteredv"> {{enteredv.company}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="enteredGate">
          <mat-header-cell *matHeaderCellDef> Entered At Gate </mat-header-cell>
          <mat-cell *matCellDef="let enteredv">{{enteredv.escortEmployee}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="escortEmployee">
          <mat-header-cell *matHeaderCellDef> Escort Employee </mat-header-cell>
          <mat-cell *matCellDef="let enteredv">{{enteredv.escortEmployee}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="approvedBy">
          <mat-header-cell *matHeaderCellDef> Approved By </mat-header-cell>
          <mat-cell *matCellDef="let enteredv">{{enteredv.approvedBy}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="exit">
          <mat-header-cell *matHeaderCellDef> Exit </mat-header-cell>
          <mat-cell *matCellDef="let enteredv">
            <mat-icon matListIcon
            (click)="exitEnteredVehicle(enteredv)"
            class="icon-control"
            >border_color</mat-icon>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumnsEnteredVehicle"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumnsEnteredVehicle;"></mat-row>
      </mat-table>
    </div>
  </div>
  <div class="expected">
    <div class="persons">
      <div class="filter-panel">
        <h3>Expected Persons</h3>
        <mat-form-field>
          <input matInput #expectedPersonsFilter [(ngModel)]="expPFval" (keyup)="applyFilterExpectedPersons($event.target.value)" autocomplete="off" placeholder="Filter">
        </mat-form-field>
      </div>

      <mat-table [dataSource]="dataSourceExpectedPersons" class="mat-elevation-z8">

        <ng-container matColumnDef="nameEn">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let ep"> {{ep.name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="companyName">
          <mat-header-cell *matHeaderCellDef> Company </mat-header-cell>
          <mat-cell *matCellDef="let ep"> {{ep.companyName}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="enter">
          <mat-header-cell *matHeaderCellDef> Enter </mat-header-cell>
          <mat-cell *matCellDef="let ep">
            <mat-icon matListIcon
            (click)="enterExpectedPerson(ep)"
            class="icon-control"
            >border_color</mat-icon>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumnsExpectedPerson"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumnsExpectedPerson;"></mat-row>
      </mat-table>
    </div>
    <div class="vehicles">
      <div class="filter-panel">
        <h3>Expected Vehicles</h3>
        <mat-form-field>
          <input matInput #expectedVehiclesFilter [(ngModel)]="expVFval" (keyup)="applyFilterExpectedVehicles($event.target.value)" autocomplete="off" placeholder="Filter">
        </mat-form-field>
      </div>

      <mat-table [dataSource]="dataSourceExpectedVehicles" class="mat-elevation-z8">

        <ng-container matColumnDef="model">
          <mat-header-cell *matHeaderCellDef> Model </mat-header-cell>
          <mat-cell *matCellDef="let ev"> {{ev.model}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="plate">
          <mat-header-cell *matHeaderCellDef> Plate </mat-header-cell>
          <mat-cell *matCellDef="let ev"> {{ev.plate}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="companyName">
          <mat-header-cell *matHeaderCellDef> Company </mat-header-cell>
          <mat-cell *matCellDef="let ev"> {{ev.companyName}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="enter">
          <mat-header-cell *matHeaderCellDef> Enter </mat-header-cell>
          <mat-cell *matCellDef="let ev">
            <mat-icon matListIcon
            (click)="enterExpectedVehicle(ev)"
            class="icon-control"
            >border_color</mat-icon>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumnsExpectedVehicle"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumnsExpectedVehicle;"></mat-row>
      </mat-table>

    </div>
  </div>
</div>
