<!-- <ag-grid-angular
  style="width: 100%; height: 100%;"
  class="ag-theme-balham"
  [enableSorting]="true"
  [enableFilter]="true"
  [rowData]="rowData"
  [columnDefs]="columnDefs"
>
</ag-grid-angular> -->
<div class="container">
  <div id="header">
    <h2>Badges</h2>
    <button mat-fab color="primary" (click)="openDialog()">+</button>
  </div>
  <div class="badges-table mat-elevation-z8">
    <!-- <div class="filter-header">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div> -->
    <mat-table #badgesTable [dataSource]="dataSource">
      <ng-container matColumnDef="cardSeriesNumber">
        <mat-header-cell *matHeaderCellDef> Card Series Number </mat-header-cell>
        <mat-cell *matCellDef="let b"> {{b.cardSeriesNumber}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="cardNumber">
        <mat-header-cell *matHeaderCellDef> Card Number </mat-header-cell>
        <mat-cell *matCellDef="let b"> {{b.cardNumber}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="expireDate">
        <mat-header-cell *matHeaderCellDef> Expire Date </mat-header-cell>
        <mat-cell *matCellDef="let b"> {{b.expireDate | date:'short'}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="active">
        <mat-header-cell *matHeaderCellDef> Active </mat-header-cell>
        <mat-cell *matCellDef="let b"> {{b.active}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="returned">
        <mat-header-cell *matHeaderCellDef> Returned </mat-header-cell>
        <mat-cell *matCellDef="let b"> {{b.returned}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="employeeId">
        <mat-header-cell *matHeaderCellDef> Employee ID </mat-header-cell>
        <mat-cell *matCellDef="let b"> {{b.employee.id}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="employeeName">
        <mat-header-cell *matHeaderCellDef> Employee Name </mat-header-cell>
        <mat-cell *matCellDef="let b"> {{b.employee.name}} {{b.employee.surname}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="zones">
        <mat-header-cell *matHeaderCellDef> Zones </mat-header-cell>
        <mat-cell *matCellDef="let b"> {{getZoneCodes(b.zones)}} </mat-cell>
        <!-- <mat-cell *matCellDef="let b">{{}}</mat-cell> -->
      </ng-container>
      <ng-container matColumnDef="dateOfSecurityCheck">
        <mat-header-cell *matHeaderCellDef> Date of Security Check </mat-header-cell>
        <mat-cell *matCellDef="let b"> {{b.dateOfSecurityCheck | asptonormaldate}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="dateOfTraining">
        <mat-header-cell *matHeaderCellDef> Date of Training </mat-header-cell>
        <mat-cell *matCellDef="let b"> {{b.dateOfTraining | asptonormaldate}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="dateOfActivation">
        <mat-header-cell *matHeaderCellDef> Date of Activation </mat-header-cell>
        <mat-cell *matCellDef="let b"> {{b.dateOfActivation | asptonormaldate}} </mat-cell>
      </ng-container>
      <!-- <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> Edit </mat-header-cell>
        <mat-cell *matCellDef="let b"> <a [routerLink]="['/badges/edit', b.id]"><mat-icon>mode_edit</mat-icon></a> </mat-cell>
      </ng-container> -->
      <ng-container matColumnDef="edit">
        <mat-header-cell *matHeaderCellDef> Edit </mat-header-cell>
        <mat-cell *matCellDef="let b">
          <mat-icon matListIcon
          (click)="openDialog(b.id)"
          class="icon-control"
          >border_color</mat-icon>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <button (click)="prevPage()" [disabled]="currentPage <=1" mat-raised-button>< Previous Page</button>
    <button (click)="nextPage()" [disabled]="nextDisabled" mat-raised-button>Next Page ></button>


    <!-- <mat-paginator #paginator
                   [pageSize]="10"
                   [pageSizeOptions]="[5, 10, 20]"
                   [showFirstLastButtons]="true"
                   [pageIndex]="currentPage"
                   (page)="pageEvent = getPage($event)">
    </mat-paginator> -->

  </div>

</div>
