.vehicleSpinner {
  position: absolute;
  /* z-index: 2; */
  width: 88.4%;
  height: 80%;
  background-color: rgba(180,180,200, 0.55);
}

.container {
  width: 90vw;
}
.category {
  display:inline-block;
  width:38%;
}

.category mat-radio-group {
display: flex;
justify-content: space-around;
/* border: 1px solid black; */
padding: 2vh 2vw;
}
