<div class="container">
  <div class="filter-panel">
    <button mat-raised-button color="primary" (click)="export_to_xlsx()">Export to Excel</button>
    <button mat-raised-button color="primary" (click)="export_to_pdf()">Export to PDF</button>
    <button mat-raised-button color="primary" (click)="export_all_to_xlsx()">Export All to Excel</button>
    <br>
    <p>{{rowCount}}</p>
  </div>
  <ag-grid-angular
    #agGrid style="width: 90vw; height: 70vh;"
    class="ag-theme-balham"
    [gridOptions]="gridOptions"
  >
  </ag-grid-angular>
</div>
