<div class="resources">
    <mat-card class="dash-card">
      <a [routerLink]="['/resources/visitors-badges']">
        <div class="card-content">
          <div class="card-text">
            <mat-card-title>Visitors Badges</mat-card-title>
            <mat-card-subtitle>see visitors badges</mat-card-subtitle>
          </div>
          <div class="card-icon">
            <mat-icon>note_add</mat-icon>
          </div>
        </div>
      </a>
    </mat-card>
    <mat-card class="dash-card">
      <a [routerLink]="['/resources/visitors-vehicle-badges']">
        <div class="card-content">
          <div class="card-text">
            <mat-card-title>Visitors Vehicle Badges</mat-card-title>
            <mat-card-subtitle>see visitors vehicle badges</mat-card-subtitle>
          </div>
          <div class="card-icon">
            <mat-icon>note_add</mat-icon>
          </div>
        </div>
      </a>
    </mat-card>
    <mat-card class="dash-card">
      <a [routerLink]="['/resources/companies']">
        <div class="card-content">
          <div class="card-text">
            <mat-card-title>Companies</mat-card-title>
            <mat-card-subtitle>see companies</mat-card-subtitle>
          </div>
          <div class="card-icon">
            <mat-icon>assignment</mat-icon>
          </div>
        </div>
      </a>
    </mat-card>
    <mat-card class="dash-card">
      <a [routerLink]="['/resources/employees']">
        <div class="card-content">
          <div class="card-text">
            <mat-card-title>Employees</mat-card-title>
            <mat-card-subtitle>see employees</mat-card-subtitle>
          </div>
          <div class="card-icon">
            <mat-icon>transfer_within_a_station</mat-icon>
          </div>
        </div>
      </a>
    </mat-card>
    <mat-card class="dash-card">
      <a [routerLink]="['/resources/vehicles']">
        <div class="card-content">
          <div class="card-text">
            <mat-card-title>Vehicles</mat-card-title>
            <mat-card-subtitle>see vehicles</mat-card-subtitle>
          </div>
          <div class="card-icon">
            <mat-icon>assignment_ind</mat-icon>
          </div>
        </div>
      </a>
    </mat-card>
    <mat-card class="dash-card">
      <a [routerLink]="['/resources/reasons']">
        <div class="card-content">
          <div class="card-text">
            <mat-card-title>Reasons</mat-card-title>
            <mat-card-subtitle>see reasons</mat-card-subtitle>
          </div>
          <div class="card-icon">
            <mat-icon>warning</mat-icon>
          </div>
        </div>
      </a>
    </mat-card>
    <mat-card class="dash-card">
      <a [routerLink]="['/resources/gates']">
        <div class="card-content">
          <div class="card-text">
            <mat-card-title>Gates</mat-card-title>
            <mat-card-subtitle>see gates</mat-card-subtitle>
          </div>
          <div class="card-icon">
            <mat-icon>assessment</mat-icon>
          </div>
        </div>
      </a>
    </mat-card>
    <mat-card class="dash-card">
      <a [routerLink]="['/resources/occupations']">
        <div class="card-content">
          <div class="card-text">
            <mat-card-title>Occupations</mat-card-title>
            <mat-card-subtitle>see occupations</mat-card-subtitle>
          </div>
          <div class="card-icon">
            <mat-icon>dashboard</mat-icon>
          </div>
        </div>
      </a>
    </mat-card>
    <mat-card class="dash-card">
      <a [routerLink]="['/resources/zones']">
        <div class="card-content">
          <div class="card-text">
            <mat-card-title>Airport Zones</mat-card-title>
            <mat-card-subtitle>see airport zones</mat-card-subtitle>
          </div>
          <div class="card-icon">
            <mat-icon>settings</mat-icon>
          </div>
        </div>
      </a>
    </mat-card>
</div>
