<app-spinner *ngIf="showSpinner" class="resourceSpinner mat-elevation-z8"></app-spinner>

<div [style.visibility]="(showSpinner && !filterSpinner) ? 'hidden' : 'visible'" class="container">
  <div id="header">
    <h2>{{categoryTitle | titlecase}}</h2>
    <button mat-mini-fab color="primary" class="add-resource-btn" (click)="addResource(category)">+
    </button>
  </div>


    <div class="input-field-header">
      <div class="filter-panel">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
      </div>
    </div>

    <div class="table-container mat-elevation-z8">

      <mat-table [dataSource]="dataSource" matSort>

        <!-- Visitor Vehicle Badges resource -->
        <div *ngIf="category=='visitors-vehicle-badges'" class="visitors-vehicle-badges-resource" id="visitors-vehicle-badges-resource">
          <ng-container matColumnDef="code">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Code </mat-header-cell>
            <mat-cell *matCellDef="let vvb"> {{vvb.code}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
            <mat-cell *matCellDef="let vvb"> {{vvb.name}} </mat-cell>
          </ng-container>


          <ng-container matColumnDef="edit">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Edit </mat-header-cell>
            <mat-cell *matCellDef="let vvb">
              <mat-icon matListIcon
              (click)="editVisitorVehiclesBadge(vvb.id)"
              class="icon-control"
              >border_color</mat-icon>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="delete">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Delete </mat-header-cell>
            <mat-cell *matCellDef="let vvb">
              <mat-icon matListIcon
                (click)="deleteVisitorVehicleBadge(vvb.id)"
                class="icon-control">
                delete
              </mat-icon>
            </mat-cell>
          </ng-container>

        </div>
        <!-- ./Visitor Vehicle Badges resource -->

        <!-- Visitor Badges resource -->
        <div *ngIf="category=='visitors-badges'" class="visitors-badges-resource" id="zones-resource">
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
            <mat-cell *matCellDef="let vb"> {{vb.name}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="barcode">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Barcode </mat-header-cell>
            <mat-cell *matCellDef="let vb"> {{vb.barcode}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="edit">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Edit </mat-header-cell>
            <mat-cell *matCellDef="let vb">
              <mat-icon matListIcon
              (click)="editVisitorsBadge(vb.id)"
              class="icon-control"
              >border_color</mat-icon>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="delete">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Delete </mat-header-cell>
            <mat-cell *matCellDef="let vb">
              <mat-icon matListIcon
                (click)="deleteVisitorsBadge(vb.id)"
                class="icon-control">
                delete
              </mat-icon>
            </mat-cell>
          </ng-container>

        </div>
        <!-- ./Visitor Badges resource -->

        <!-- Airport Zone resource -->
        <div *ngIf="category=='zones'" class="zones-resource" id="zones-resource">
          <ng-container matColumnDef="code">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Code </mat-header-cell>
            <mat-cell *matCellDef="let zone"> {{zone.code}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
            <mat-cell *matCellDef="let zone"> {{zone.name}} </mat-cell>
          </ng-container>


          <ng-container matColumnDef="edit">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Edit </mat-header-cell>
            <mat-cell *matCellDef="let zone">
              <mat-icon matListIcon
              (click)="editZone(zone.id)"
              class="icon-control"
              >border_color</mat-icon>
            </mat-cell>
          </ng-container>


        </div>
        <!-- ./Airport Zone resource -->

        <!-- Gates resource -->
        <div *ngIf="category=='gates'" class="gates-resource" id="gates-resource">
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
            <mat-cell *matCellDef="let gate"> {{gate.name}} </mat-cell>
          </ng-container>


          <ng-container matColumnDef="edit">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Edit </mat-header-cell>
            <mat-cell *matCellDef="let gate">
              <mat-icon matListIcon
              (click)="editGate(gate.id)"
              class="icon-control"
              >border_color</mat-icon>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="delete">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Delete </mat-header-cell>
            <mat-cell *matCellDef="let gate">
              <mat-icon matListIcon
                (click)="deleteGate(gate.id)"
                class="icon-control">
                delete
              </mat-icon>
            </mat-cell>
          </ng-container>

        </div>
        <!-- ./Gates resource -->

        <!-- Employees resource -->
        <div *ngIf="category=='employees'" class="employees-resource" id="employees-resource">
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
            <mat-cell *matCellDef="let emp"> {{emp.name}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="surname">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Surname </mat-header-cell>
            <mat-cell *matCellDef="let emp"> {{emp.surname}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="company">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Company </mat-header-cell>
            <mat-cell *matCellDef="let emp"> {{emp.company.name}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="occupation">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Occupation </mat-header-cell>
            <mat-cell *matCellDef="let emp"> {{emp.occupation}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="edit">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Edit </mat-header-cell>
            <mat-cell *matCellDef="let emp">
              <mat-icon matListIcon
              (click)="editEmployee(emp.id)"
              class="icon-control"
              >border_color</mat-icon>
            </mat-cell>
          </ng-container>
        </div>
        <!-- ./Employees resource -->

        <!-- Vehicles resource -->
        <div *ngIf="category=='vehicles'" class="vehicles-resource" id="vehicles-resource">
          <ng-container matColumnDef="company">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Company </mat-header-cell>
            <mat-cell *matCellDef="let vehicle"> {{vehicle.company == null ? vehicle.companyName : vehicle.company.name}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="model">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Model </mat-header-cell>
            <mat-cell *matCellDef="let vehicle"> {{vehicle.model}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="plate">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Plate </mat-header-cell>
            <mat-cell *matCellDef="let vehicle"> {{vehicle.plate}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="edit">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Edit </mat-header-cell>
            <mat-cell *matCellDef="let vehicle">
              <mat-icon matListIcon
              (click)="editVehicle(vehicle.id)"
              class="icon-control"
              >border_color</mat-icon>
            </mat-cell>
          </ng-container>
        </div>
        <!-- ./Vehicles resource -->

        <!-- Companies resource -->
        <div *ngIf="category=='companies'" class="companies-resource" id="companies-resource">
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
            <mat-cell *matCellDef="let comp"> {{comp.name}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="nameEn">
            <mat-header-cell *matHeaderCellDef mat-sort-header> English Name </mat-header-cell>
            <mat-cell *matCellDef="let comp"> {{comp.nameEn}} </mat-cell>
          </ng-container>


          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Edit </mat-header-cell>
            <mat-cell *matCellDef="let comp">
              <mat-icon matListIcon
              (click)="editCompany(comp.id)"
              class="icon-control"
              >border_color</mat-icon>
            </mat-cell>
          </ng-container>
        </div>
        <!-- ./Companies resource -->

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
      </mat-table>

      <div *ngIf="category=='vehicles'" class="employees-pagination">
        <button (click)="prevPageVehicles()" [disabled]="currentPageVehicles <=1" class="prev-btn" mat-raised-button>&laquo; Previous Page</button>
        <button (click)="nextPageVehicles()" [disabled]="nextDisabledVehicles" class="next-btn" mat-raised-button>Next Page &raquo;</button>
      </div>

      <div *ngIf="category=='companies'" class="employees-pagination">
        <button (click)="prevPageComp()" [disabled]="currentPageComp <= 1" class="prev-btn" mat-raised-button>< Previous Page</button>
        <button (click)="nextPageComp()" [disabled]="nextDisabledComp" class="next-btn" mat-raised-button>Next Page ></button>
      </div>

      <div *ngIf="category=='employees'" class="employees-pagination">
        <button (click)="prevPageEmp()" [disabled]="currentPageComp <= 1" class="prev-btn" mat-raised-button>< Previous Page</button>
        <button (click)="nextPageEmp()" [disabled]="nextDisabledComp" class="next-btn" mat-raised-button>Next Page ></button>
      </div>
    </div>

</div>
