<app-spinner *ngIf="showSpinner" class="resourceSpinner mat-elevation-z8"></app-spinner>

<div [style.visibility]="(showSpinner && !filterSpinner) ? 'hidden' : 'visible'" class="container">
  <div id="header">
    <h2>{{categoryTitle | titlecase}}</h2>
    <button mat-mini-fab color="primary" class="add-resource-btn" (click)="addResource(category)">+
    </button>
  </div>


    <div class="input-field-header">
      <div class="filter-panel">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
      </div>
    </div>

    <div class="table-container mat-elevation-z8">

      <mat-table [dataSource]="dataSource" matSort>

        <!-- Visitor Vehicle Badges resource -->
        <div *ngIf="category=='visitors-vehicle-badges'" class="visitors-vehicle-badges-resource" id="visitors-vehicle-badges-resource">
          <!-- <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
            <mat-cell *matCellDef="let vvb"> {{vvb.id}} </mat-cell>
          </ng-container> -->

          <ng-container matColumnDef="code">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Code </mat-header-cell>
            <mat-cell *matCellDef="let vvb"> {{vvb.code}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
            <mat-cell *matCellDef="let vvb"> {{vvb.name}} </mat-cell>
          </ng-container>


          <ng-container matColumnDef="edit">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Edit </mat-header-cell>
            <mat-cell *matCellDef="let vvb">
              <mat-icon matListIcon
              (click)="editVisitorVehiclesBadge(vvb.id)"
              class="icon-control"
              >border_color</mat-icon>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="delete">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Delete </mat-header-cell>
            <mat-cell *matCellDef="let vvb">
              <mat-icon matListIcon
                (click)="deleteVisitorVehicleBadge(vvb.id)"
                class="icon-control">
                delete
              </mat-icon>
            </mat-cell>
          </ng-container>

        </div>
        <!-- ./Visitor Vehicle Badges resource -->

        <!-- Visitor Badges resource -->
        <div *ngIf="category=='visitors-badges'" class="visitors-badges-resource" id="zones-resource">
          <!-- <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
            <mat-cell *matCellDef="let vb"> {{vb.id}} </mat-cell>
          </ng-container> -->

          <ng-container matColumnDef="code">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Code </mat-header-cell>
            <mat-cell *matCellDef="let vb"> {{vb.code}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
            <mat-cell *matCellDef="let vb"> {{vb.name}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="barcode">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Barcode </mat-header-cell>
            <mat-cell *matCellDef="let vb"> {{vb.barcode}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="edit">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Edit </mat-header-cell>
            <mat-cell *matCellDef="let vb">
              <mat-icon matListIcon
              (click)="editVisitorsBadge(vb.id)"
              class="icon-control"
              >border_color</mat-icon>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="delete">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Delete </mat-header-cell>
            <mat-cell *matCellDef="let vb">
              <mat-icon matListIcon
                (click)="deleteVisitorsBadge(vb.id)"
                class="icon-control">
                delete
              </mat-icon>
            </mat-cell>
          </ng-container>

        </div>
        <!-- ./Visitor Badges resource -->

        <!-- Airport Zone resource -->
        <div *ngIf="category=='zones'" class="zones-resource" id="zones-resource">
          <!-- <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
            <mat-cell *matCellDef="let zone"> {{zone.id}} </mat-cell>
          </ng-container> -->

          <ng-container matColumnDef="code">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Code </mat-header-cell>
            <mat-cell *matCellDef="let zone"> {{zone.code}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
            <mat-cell *matCellDef="let zone"> {{zone.name}} </mat-cell>
          </ng-container>


          <ng-container matColumnDef="edit">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Edit </mat-header-cell>
            <mat-cell *matCellDef="let zone">
              <mat-icon matListIcon
              (click)="editZone(zone.id)"
              class="icon-control"
              >border_color</mat-icon>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="delete">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Delete </mat-header-cell>
            <mat-cell *matCellDef="let zone">
              <mat-icon matListIcon
                (click)="deleteZone(zone.id)"
                class="icon-control">
                delete
              </mat-icon>
            </mat-cell>
          </ng-container>

        </div>
        <!-- ./Airport Zone resource -->

        <!-- Occupations resource -->
        <!-- <div *ngIf="category=='occupations'" class="occupations-resource" id="occupations-resource">
          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
            <mat-cell *matCellDef="let occ"> {{occ.id}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="code">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Code </mat-header-cell>
            <mat-cell *matCellDef="let occ"> {{occ.code}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
            <mat-cell *matCellDef="let occ"> {{occ.name}} </mat-cell>
          </ng-container>t


          <ng-container matColumnDef="edit">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Edit </mat-header-cell>
            <mat-cell *matCellDef="let occ">
              <mat-icon matListIcon
              (click)="editOccupation(occ.id)"
              class="icon-control"
              >mode_edit</mat-icon>
            </mat-cell>
          </ng-container>

        </div> -->
        <!-- ./Occupations resource -->

        <!-- Gates resource -->
        <div *ngIf="category=='gates'" class="gates-resource" id="gates-resource">
          <!-- <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
            <mat-cell *matCellDef="let gate"> {{gate.id}} </mat-cell>
          </ng-container> -->

          <!-- <ng-container matColumnDef="code">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Code </mat-header-cell>
            <mat-cell *matCellDef="let gate"> {{gate.code}} </mat-cell>
          </ng-container> -->

          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
            <mat-cell *matCellDef="let gate"> {{gate.name}} </mat-cell>
          </ng-container>


          <ng-container matColumnDef="edit">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Edit </mat-header-cell>
            <mat-cell *matCellDef="let gate">
              <mat-icon matListIcon
              (click)="editGate(gate.id)"
              class="icon-control"
              >border_color</mat-icon>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="delete">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Delete </mat-header-cell>
            <mat-cell *matCellDef="let gate">
              <mat-icon matListIcon
                (click)="deleteGate(gate.id)"
                class="icon-control">
                delete
              </mat-icon>
            </mat-cell>
          </ng-container>

        </div>
        <!-- ./Gates resource -->

        <!-- Reasons resource -->
        <!-- <div *ngIf="category=='reasons'" class="reasons-resource" id="reasons-resource">

          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
            <mat-cell *matCellDef="let reason"> {{reason.name}} </mat-cell>
          </ng-container>


          <ng-container matColumnDef="edit">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Edit </mat-header-cell>
            <mat-cell *matCellDef="let reason">
              <mat-icon matListIcon
              (click)="editReason(reason.id)"
              class="icon-control"
              >border_color</mat-icon>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="delete">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Delete </mat-header-cell>
            <mat-cell *matCellDef="let reason">
              <mat-icon matListIcon
                (click)="deleteReason(reason.id)"
                class="icon-control">
                delete
              </mat-icon>
            </mat-cell>
          </ng-container>

        </div> -->
        <!-- ./Reason resource -->

        <!-- Employees resource -->
        <div *ngIf="category=='employees'" class="employees-resource" id="employees-resource">
          <!-- <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
            <mat-cell *matCellDef="let emp"> {{emp.id}} </mat-cell>
          </ng-container> -->

          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
            <mat-cell *matCellDef="let emp"> {{emp.name}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="surname">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Surname </mat-header-cell>
            <mat-cell *matCellDef="let emp"> {{emp.surname}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="company">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Company </mat-header-cell>
            <mat-cell *matCellDef="let emp"> {{emp.company.name}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="edit">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Edit </mat-header-cell>
            <mat-cell *matCellDef="let emp">
              <mat-icon matListIcon
              (click)="editEmployee(emp.id)"
              class="icon-control"
              >border_color</mat-icon>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="delete">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Delete </mat-header-cell>
            <mat-cell *matCellDef="let emp">
              <mat-icon matListIcon
                (click)="deleteEmployee(emp.id)"
                class="icon-control">
                delete
              </mat-icon>
            </mat-cell>
          </ng-container>
          <!-- <mat-paginator [length]="length"
              [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions"
              (page)="pageEvent = $event">
          </mat-paginator> -->
          <!-- <button (click)="prevPage()" [disabled]="currentPage <=1" mat-raised-button>< Previous Page</button>
          <button (click)="nextPage()" [disabled]="nextDisabled" mat-raised-button>Next Page ></button> -->
        </div>
        <!-- ./Employees resource -->

        <!-- Vehicles resource -->
        <div *ngIf="category=='vehicles'" class="vehicles-resource" id="vehicles-resource">
          <ng-container matColumnDef="company">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Company </mat-header-cell>
            <mat-cell *matCellDef="let vehicle"> {{vehicle.company == null ? vehicle.companyName : vehicle.company.name}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="model">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Model </mat-header-cell>
            <mat-cell *matCellDef="let vehicle"> {{vehicle.model}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="plate">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Plate </mat-header-cell>
            <mat-cell *matCellDef="let vehicle"> {{vehicle.plate}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="edit">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Edit </mat-header-cell>
            <mat-cell *matCellDef="let vehicle">
              <mat-icon matListIcon
              (click)="editVehicle(vehicle.id)"
              class="icon-control"
              >border_color</mat-icon>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="delete">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Delete </mat-header-cell>
            <mat-cell *matCellDef="let vehicle">
              <mat-icon matListIcon
                (click)="deleteVehicle(vehicle.id)"
                class="icon-control">
                delete
              </mat-icon>
            </mat-cell>
          </ng-container>
        </div>
        <!-- ./Vehicles resource -->

        <!-- Companies resource -->
        <div *ngIf="category=='companies'" class="companies-resource" id="companies-resource">
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
            <mat-cell *matCellDef="let comp"> {{comp.name}} </mat-cell>
          </ng-container>


          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Edit </mat-header-cell>
            <mat-cell *matCellDef="let comp">
              <mat-icon matListIcon
              (click)="editCompany(comp.id)"
              class="icon-control"
              >border_color</mat-icon>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="delete">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Delete </mat-header-cell>
            <mat-cell *matCellDef="let comp">
              <mat-icon matListIcon
                (click)="deleteCompany(comp.id)"
                class="icon-control">
                delete
              </mat-icon>
            </mat-cell>
          </ng-container>
        </div>
        <!-- ./Companies resource -->

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
      </mat-table>

      <div class="employees-pagination">
        <button (click)="prevPageVehicles()" [disabled]="currentPageVehicles <=1" class="prev-btn" mat-raised-button>&laquo; Previous Page</button>
        <button (click)="nextPageVehicles()" [disabled]="nextDisabledVehicles" class="next-btn" mat-raised-button>Next Page &raquo;</button>
      </div>

      <!-- <div *ngIf="category=='employees'" class="employees-pagination">
        <form class="employee-form">
          <mat-form-field class="employee-field">
            <input type="text" placeholder="Employee" [formControl]="employeeAutoCtrl" matInput [matAutocomplete]="emp_auto">
            <mat-autocomplete #emp_auto="matAutocomplete" [displayWith]="displayEmpFn">
              <mat-option *ngFor="let emp of employees_auto" [value]="emp">
                {{ emp.name }} {{emp.surname}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
        <button (click)="prevPageEmp()" [disabled]="currentPage <=1" class="prev-btn" mat-raised-button>&laquo; Previous Page</button>
        <button (click)="nextPageEmp()" [disabled]="nextDisabled" class="next-btn" mat-raised-button>Next Page &raquo;</button>
      </div> -->

      <!-- <div *ngIf="category=='companies'" class="companies-pagination">
        <form class="company-form">
          <mat-form-field class="company-field">
            <input type="text" placeholder="Company" [formControl]="companiesAutoCtrl" matInput [matAutocomplete]="comp_auto">
            <mat-autocomplete #comp_auto="matAutocomplete">
              <mat-option *ngFor="let comp of companies_auto" [value]="comp">
                {{ comp.name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
        <button (click)="prevPageComp()" [disabled]="currentPageComp <= 1" class="prev-btn" mat-raised-button>< Previous Page</button>
        <button (click)="nextPageComp()" [disabled]="nextDisabledComp" class="next-btn" mat-raised-button>Next Page ></button>
      </div> -->
      <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator> -->
    </div>
  <!-- </div> -->

</div>
