<form name="vehicleBadgeForm" id="vehicleBadgeForm" [formGroup]="vehicleBadgeForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="vehicle-field" style="width:45%;">
    <input type="text" placeholder="Vehicle" [formControl]="vehicleAutoCtrl" matInput [matAutocomplete]="vehicle_auto">
    <mat-autocomplete #vehicle_auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let vehicle of vehicles_auto" [value]="vehicle">
        {{ vehicle.model }} {{ vehicle.plate }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <br>
  <mat-form-field style="width:25%;">
    <input matInput type="text" pattern="[0-9]*" (keypress)="isNumber($event)" placeholder="permitNumber"
    formControlName="permitNumber"
    autocomplete="off">
  </mat-form-field>
  <mat-form-field style="width:25%;">
    <input matInput
      [matDatepicker]="expireDate"
      formControlName="expireDate"
      placeholder="Expire Date">
    <mat-datepicker-toggle matSuffix [for]="expireDate"></mat-datepicker-toggle>
    <mat-datepicker #expireDate></mat-datepicker>
  </mat-form-field>
  <br>
  <mat-form-field style="width:25%;">
    <input matInput type="text" placeholder="Payment"
    formControlName="payment"
    autocomplete="off">
  </mat-form-field>
  <mat-checkbox
    class="chkReturned"
    color="primary"
    formControlName="return"
    [(ngModel)]="returned">Returned
  </mat-checkbox>
  <button *ngIf="vehicleBadge.id" type="button" mat-raised-button
    color="primary" [disabled]="vehicleBadge.shreddingDate" (click)="shredConfirm(vehicleBadge.id)">Shred Badge</button>

    <button mat-raised-button type="button" color="accent"
      class="shred" *ngIf="data != null && vehicleBadge.deactivated == false" (click)="deactivate(vehicleBadge.id)">Deactivate</button>

    <button mat-raised-button type="button" color="accent"
      class="shred" *ngIf="data != null && vehicleBadge.deactivated == true" (click)="activate(vehicleBadge.id)">Activate</button>

  <mat-dialog-actions>
    <button type="submit" [disabled]="!vehicleBadgeForm.valid" mat-raised-button >OK</button>
    <button type="button" mat-raised-button (click)="onCancel()">Cancel</button>
  </mat-dialog-actions>
</form>
