.requester-person-field{
  width:100%;
}

.half {
  width: 40%;
}

div.img-upload {
  display: block;
}

.half-padding {
  padding-left: 9%;
}

.person-preview {
  max-width: 20%;
  max-height: 20%;
}

.sm-form-divider-margins {
  margin-top:2vh;
  margin-bottom:2vh;
}

.requester-person-form {

}
