html, body {
    height: 100vh;
}
body {
    margin: 0;
}
.flex-container {
    height: 100vh;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

mat-form-field{
  width:100%;
}

button {
  margin-top:2vh;
  float: right;
}

mat-toolbar {
  display:none;
}

.card-head {
  display: flex;
}

/* .card-head .mat-card-title {
  align-self: flex-start;
  dash-card: #3f9db6cc
  dash-text: #fff
  mat-icon: #000
  primary-color: #3f9db6
} */

.card-head img {
  height: 50%;
  width: 50%;
  align-self: flex-end;
  /* margin-right: 15%; */
  margin: auto;
}
