<div class="flex-container">
    <form class="login-form" id="login-form" [formGroup]="loginForm" ngSubmit="logIn()" novalidate>
      <mat-card>
        <div class="card-head">
          <!-- <mat-card-subtitle>Airport Security Entry Control</mat-card-subtitle> -->
          <img [src]="LOGO">
        </div>
        <mat-card-title>Log In</mat-card-title>        
        <mat-form-field>
          <input matInput placeholder="User Name"
            id="username"
            name="username"
            formControlName="username">
        </mat-form-field>
        <mat-form-field>
          <input matInput
            type="password"
            placeholder="Password"
            id="password"
            name="password"
            formControlName="password">
        </mat-form-field>

        <button type="submit" mat-raised-button (click)="logIn()">Log In</button>
      </mat-card>
    </form>
</div>
