<form name="changePasswordForm" id="changePasswordForm" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
  <mat-form-field *ngIf="!data">
    <input matInput type="password"  placeholder="Current Password"
    formControlName="oldPassword"
    autocomplete="off">
  </mat-form-field>

  <mat-form-field>
    <input matInput type="password" placeholder="New Password"
    formControlName="newPassword"
    autocomplete="off">
  </mat-form-field>

  <mat-form-field>
    <input matInput type="password" placeholder="Confirm Password"
    formControlName="confirmNewPassword"
    autocomplete="off">
  </mat-form-field>


  <mat-dialog-actions>
    <button type="submit" [disabled]="!changePasswordForm.valid || !confirm()" mat-raised-button >OK</button>
    <button type="button" mat-raised-button (click)="onCancel()">Cancel</button>
  </mat-dialog-actions>
</form>
