.reportDiv {
  width: 100%;
}

.rReportTable {
  background: white;
  /* border:1px solid black; */
  border-collapse: collapse;
  /* overflow-x:auto; */
  width: 100%;
}

.rReportTable th, .reqHead td {
  padding-left: 1vw;
}

.rReportTable td{
  padding-right:1px;
  padding-top:1px;
  padding-bottom:1px;
  border-bottom:1px solid black;
  width: 12vw;
  text-align:left;
  vertical-align: top;
  /* border: 1px solid black; */

}

li {
  list-style: decimal;
}
.rReportTable td.list{
  text-align:left;
}

.reqHead {
  background-color: #c4c7ce;
}

th {
  border-bottom: 1px solid grey;
  margin-top: 1vh;
  width: 12vw;
  margin-bottom: 0.25vh;
  padding-bottom: 0.25vh;
  padding: 1px;
  text-align:left;
  /* border: 1px solid black; */
}

@media print {
  tr {
    page-break-inside: auto;
  }

  td.list, tr.listTr, ul {
    page-break-inside: auto;
    page-break-after: auto;
    page-break-before: auto;
  }

  ul li {
    page-break-inside: auto;
    page-break-after: auto;
    page-break-before: auto;
  }
}
