.appSpinner {
  position: absolute;
  /* z-index: 2; */
  width: 88.4%;
  height: 80%;
  background-color: rgba(180,180,200, 0.55);
}

.green-row {
  background-color: lightgreen;
}

div.filter-dates {
  display: inline-block;
  width: 30%;
}

.date-filter-field {
  max-width: 40%;
}

.show-approvals {
  display:inline-block;
  width:38%;
}

.filter-companies {
  text-align:right;
  display:inline-block;
  width:30%;
}

.show-approvals mat-radio-group {
  display: flex;
  justify-content: space-around;
  padding: 2vh 2vw;
}
