div.filter-panel {
  /* display: flex;
  justify-content: space-between;
  align-items: baseline; */
  /* display: inline-block; */
}

.green-row {
  background-color: lightgreen;
}

div.filter-dates {
  display: inline-block;
  width: 30%;
}

.date-filter-field {
  max-width: 40%;
}

.show-approvals {
  /* align-self: center; */
  /* display:flex; */
  display:inline-block;
  width:38%;
  /* justify-content: space-between; */
  /* align-items:center; */
  /* display:inline-block; */
}

.filter-companies {
  text-align:right;
  display:inline-block;
  width:30%;
}

.show-approvals mat-radio-group {
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
  padding: 2vh 2vw;
}
