<form class="requester-vehicle-form" [formGroup]="vehicleForm" (ngSubmit)="onSubmit()" novalidate>
  <!-- <mat-form-field class="requester-vehicle-field">
    <input matInput name='vehicleCompany'
    id="vehicleCompany" placeholder="Company"
    formControlName="company"
    autocomplete="off" required>
  </mat-form-field> -->
  <!-- <mat-form-field class="requester-vehicle-field">
    <input matInput type="text" name='vehicleCompany'
    id="vehicleCompany" placeholder="Company"
    formControlName="company"
    [matAutocomplete]="comp"
    required>
  </mat-form-field>
  <mat-autocomplete #comp="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let c of companies" [value]="c" >
        {{ c.name }}
      </mat-option>
  </mat-autocomplete> -->
  <mat-form-field class="requester-vehicle-field">
    <input matInput name="vehicleModel"
    id="vehicleModel" placeholder="Model"
    formControlName="model"
    autocomplete="off" required>
  </mat-form-field>
  <mat-form-field class="requester-vehicle-field">
    <input matInput name="vehiclePlate"
    id="vehiclePlate" placeholder="Plate"
    formControlName="plate"
    autocomplete="off" required>
  </mat-form-field>

  <!-- <div class="img-upload">
    <button type="button" mat-raised-button (click)="imgUpload1.click()">
      Attach Image (JPEG or PNG)<mat-icon>keyboard_arrow_up</mat-icon>
      <input type="file" hidden #imgUpload1
      accept="image/jpeg, image/png"
      (change)="previewImage($event)" name="image1" id="image1" formControlName="image1">
    </button>
    <img [src]="img1src" class="person-preview">
  </div> -->
  <!-- <div class="img-upload" id="img2"> <!-- *ngIf="img1src!==''" --
    <mat-divider class="sm-form-divider-margins"></mat-divider>
    <button type="button" mat-raised-button (click)="imgUpload2.click()">
      Attach Image (JPEG or PNG)<mat-icon>keyboard_arrow_up</mat-icon>
      <input type="file" hidden #imgUpload2
      accept="image/jpeg, image/png"
      (change)="previewImage($event)" name="image1" id="image1" formControlName="image2">
    </button>
    <img [src]="img2src" class="person-preview">
  </div> -->

  <mat-dialog-actions>
    <button type="submit" [disabled]="!vehicleForm.valid" mat-raised-button >OK</button>
    <button type="button" mat-raised-button (click)="onCancel()">Cancel</button>
  </mat-dialog-actions>
</form>
