.shreddingSpinner {
  position: absolute;
  width: 88.4%;
  height: 80%;
  background-color: rgba(180,180,200, 0.55);
}

.container {
  width:90vw;
}

.gray-row {
  background-color: lightgrey;
}

div#header {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  background: #fff;
  width: 96%;
  padding-left: 2em;
  padding-right: 2em;
  padding-top:0.5em;
  margin-bottom: 2em;
}

.filter-panel {
  display:flex;
  flex-direction:row;
  justify-content: center;
  align-items: baseline;
}

.filter-panel div {
  margin-right: 10%;
}

mat-radio-button {
  margin-right: 2vw;
}
