<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button type="button" mat-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="tb-spacer-max"></span>
    <span>korisnik</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="sidenav1" mode="over" position="start">
    <button mat-raised-button
      color="primary"
      class="sidenav-btn"
      *ngFor="let n of [0,1,2,3,4]; let i = index">Component {{i}}</button>
  </mat-sidenav>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
