<form [formGroup]="vvbForm" (ngSubmit)="onSubmit()" novalidate>
  <mat-form-field>
    <input matInput name="vvbID"
    id="vvbID" placeholder="ID"
    formControlName="id"
    autocomplete="off" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput name="vvbCode"
    id="vvbCode" placeholder="Code"
    formControlName="code"
    autocomplete="off" required>
  </mat-form-field>
  <mat-form-field>
    <input type="number" matInput name="vvbNumber"
    id="vvbNumber" placeholder="Number"
    formControlName="number"
    autocomplete="off" required>
  </mat-form-field>

  <mat-divider class="sm-form-divider-margins"></mat-divider>
  <mat-dialog-actions>
    <button type="submit" [disabled]="!vvbForm.valid" mat-raised-button>OK</button>
    <button type="button" mat-raised-button (click)="onCancel()">Cancel</button>
  </mat-dialog-actions>
</form>
