<form *ngIf="ExitVehicleForm != null" [formGroup]="ExitVehicleForm" (ngSubmit)="onSubmit()" novalidate>
  <mat-form-field>
    <input matInput type="text"
      placeholder="Exit Employee"
      formControlName="exitEmployee"
      [matAutocomplete]="entEmp"
      required>
  </mat-form-field>
  <mat-autocomplete #entEmp="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let e of employees" [value]="e" >
        {{ e.name }}
      </mat-option>
  </mat-autocomplete>

  <mat-divider class="sm-form-divider-margins"></mat-divider>
  <mat-dialog-actions>
    <button type="submit" [disabled]="!ExitVehicleForm.valid" mat-raised-button>OK</button>
    <button type="button" mat-raised-button (click)="onCancel()">Cancel</button>
  </mat-dialog-actions>
</form>
