<div class="dashboard">
  <div class="dashboard-row odd">
    <mat-card class="dash-card">
      <a [routerLink]="['/requester']">
        <div class="card-content">
          <div class="card-text">
            <mat-card-title>Requester</mat-card-title>
            <mat-card-subtitle>request, person, vehicle</mat-card-subtitle>
          </div>
          <div class="card-icon">
            <mat-icon>airplanemode_inactive</mat-icon>
          </div>
        </div>
      </a>
    </mat-card>
    <mat-card class="dash-card" *ngFor="let n of [3,3]; let i = index">
      <a routerLink="['/']">
        <div class="card-content">
          <div class="card-text">
            <mat-card-title>Component {{i}}</mat-card-title>
            <mat-card-subtitle>Descriptions</mat-card-subtitle>
          </div>
          <div class="card-icon">
            <mat-icon>airplanemode_inactive</mat-icon>
          </div>
        </div>
      </a>
    </mat-card>

  </div>
  <div class="dashboard-row even">
    <mat-card class="dash-card" *ngFor="let n of [2,2]; let i = index">
      <a routerLink="['/']">
        <div class="card-content">
          <div class="card-text">
            <mat-card-title>Component {{i}}</mat-card-title>
            <mat-card-subtitle>Descriptions</mat-card-subtitle>
          </div>
          <div class="card-icon">
            <mat-icon>airplanemode_active</mat-icon>
          </div>
        </div>
      </a>
    </mat-card>
  </div>
</div>
