<div class="dashboard">
    <mat-card class="dash-card" *ngIf="authService.isUser()">
      <a [routerLink]="['/requester']">
        <div class="card-content">
          <div class="card-text">
            <mat-card-title>Create Request</mat-card-title>
            <mat-card-subtitle>create pass request</mat-card-subtitle>
          </div>
          <div class="card-icon">
            <mat-icon>note_add</mat-icon>
          </div>
        </div>
      </a>
    </mat-card>
    <mat-card class="dash-card" *ngIf="authService.isPowerUser()">
      <a [routerLink]="['/approvals']">
        <div class="card-content">
          <div class="card-text">
            <mat-card-title>Approvals</mat-card-title>
            <mat-card-subtitle>approve/decline requests</mat-card-subtitle>
          </div>
          <div class="card-icon">
            <mat-icon>assignment</mat-icon>
          </div>
        </div>
      </a>
    </mat-card>
    <mat-card class="dash-card" *ngIf="authService.isOperator()">
      <a [routerLink]="['/gates']">
        <div class="card-content">
          <div class="card-text">
            <mat-card-title>Select Gate</mat-card-title>
            <mat-card-subtitle>gate selection</mat-card-subtitle>
          </div>
          <div class="card-icon">
            <mat-icon>transfer_within_a_station</mat-icon>
          </div>
        </div>
      </a>
    </mat-card>
    <mat-card class="dash-card" *ngIf="authService.isPowerUser()">
      <a [routerLink]="['/badges']">
        <div class="card-content">
          <div class="card-text">
            <mat-card-title>Badges</mat-card-title>
            <mat-card-subtitle>manage permanent access</mat-card-subtitle>
          </div>
          <div class="card-icon">
            <mat-icon>assignment_ind</mat-icon>
          </div>
        </div>
      </a>
    </mat-card>
    <mat-card class="dash-card" *ngIf="authService.isPowerUser()">
      <a [routerLink]="['/vehicle-badges']">
        <div class="card-content">
          <div class="card-text">
            <mat-card-title>Vehicle Badges</mat-card-title>
            <mat-card-subtitle>manage permanent vehicle access</mat-card-subtitle>
          </div>
          <div class="card-icon">
            <mat-icon>assignment_ind</mat-icon>
          </div>
        </div>
      </a>
    </mat-card>
    <mat-card class="dash-card" *ngIf="authService.isOperator()">
      <a [routerLink]="['/stop-list']">
        <div class="card-content">
          <div class="card-text">
            <mat-card-title>Stop List</mat-card-title>
            <mat-card-subtitle>search the stop list</mat-card-subtitle>
          </div>
          <div class="card-icon">
            <mat-icon>warning</mat-icon>
          </div>
        </div>
      </a>
    </mat-card>
    <mat-card class="dash-card" *ngIf="authService.isOperator()">
      <a [routerLink]="['/vehicles-stop-list']">
        <div class="card-content">
          <div class="card-text">
            <mat-card-title>Vehicles Stop List</mat-card-title>
            <mat-card-subtitle>search the vehicles stop list</mat-card-subtitle>
          </div>
          <div class="card-icon">
            <mat-icon>warning</mat-icon>
          </div>
        </div>
      </a>
    </mat-card>
    <mat-card class="dash-card" *ngIf="authService.isPowerUser() || authService.isOperator()">
      <a [routerLink]="['/reports']">
        <div class="card-content">
          <div class="card-text">
            <mat-card-title>Reports</mat-card-title>
            <mat-card-subtitle>create reqests</mat-card-subtitle>
          </div>
          <div class="card-icon">
            <mat-icon>assessment</mat-icon>
          </div>
        </div>
      </a>
    </mat-card>
    <mat-card class="dash-card" *ngIf="authService.isPowerUser()">
      <a [routerLink]="['/resources']">
        <div class="card-content">
          <div class="card-text">
            <mat-card-title>Resources</mat-card-title>
            <mat-card-subtitle>define and manage resources</mat-card-subtitle>
          </div>
          <div class="card-icon">
            <mat-icon>dashboard</mat-icon>
          </div>
        </div>
      </a>
    </mat-card>
    <mat-card class="dash-card" *ngIf="authService.isAdmin()">
      <a [routerLink]="['/user-management']">
        <div class="card-content">
          <div class="card-text">
            <mat-card-title>User Management</mat-card-title>
            <mat-card-subtitle>manage users</mat-card-subtitle>
          </div>
          <div class="card-icon">
            <mat-icon>settings</mat-icon>
          </div>
        </div>
      </a>
    </mat-card>
</div>
