/*div.dashboard-row {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
}*/

/* div.odd {
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  margin: 2vh;
} */

/*.flex-container > .dash-card {
  width: 20vw;
  margin: 2vh;
}*/

div.dashboard {
    display: flex;
    flex-wrap: wrap;
}

.dash-card {
  margin: 1%;
  width: 27%;
}

@media only screen and (max-width: 600px) {
  .dash-card {
    margin: 1%;
    width: 100%;
  }
}

.card-content {
  flex-direction: row;
  justify-content: right;
}

.card-icon {
  float: right;
}

