<form name="badgeForm" id="badgeForm" [formGroup]="badgeForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input matInput type="text" pattern="[0-9]*" (keypress)="isNumber(event)" placeholder="cardSeriesNumber"
    formControlName="cardSeriesNumber"
    autocomplete="off">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" (keypress)="isNumber(event)" placeholder="cardNumber"
    formControlName="cardNumber"
    autocomplete="off">
  </mat-form-field>
  <mat-form-field>
    <input matInput
      [matDatepicker]="expireDate"
      formControlName="expireDate"
      placeholder="Expire Date">
    <mat-datepicker-toggle matSuffix [for]="expireDate"></mat-datepicker-toggle>
    <mat-datepicker #expireDate></mat-datepicker>
  </mat-form-field>




  <mat-form-field class="employee-field">
    <input type="text" placeholder="Employee" formControlName="employee" matInput [matAutocomplete]="emp_auto">
    <mat-autocomplete #emp_auto="matAutocomplete" [displayWith]="displayEmpFn">
      <mat-option *ngFor="let emp of employees_auto" [value]="emp">
        {{ emp.name }} {{emp.surname}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <form class="employee-form">

  </form>
  <mat-form-field>
    <input matInput [matDatepicker]="dateOfSecurityCheck"
      placeholder="Date Of Security Check"
    formControlName="dateOfSecurityCheck">
    <mat-datepicker-toggle matSuffix [for]="dateOfSecurityCheck"></mat-datepicker-toggle>
    <mat-datepicker #dateOfSecurityCheck></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <input matInput [matDatepicker]="dateOfTraining"
      placeholder="Date Of Training"
    formControlName="dateOfTraining">
    <mat-datepicker-toggle matSuffix [for]="dateOfTraining"></mat-datepicker-toggle>
    <mat-datepicker #dateOfTraining></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <input matInput [matDatepicker]="dateOfActivation"
      placeholder="Date Of Activation"
    formControlName="dateOfActivation">
    <mat-datepicker-toggle matSuffix [for]="dateOfActivation"></mat-datepicker-toggle>
    <mat-datepicker #dateOfActivation></mat-datepicker>
  </mat-form-field>

  <div class="zones">
    <mat-checkbox
      class="chkZone"
      color="primary"
      *ngFor="let z of zones; let i = index;"
      [checked]="zonesBool[i]"
      (change)="checkZone(i)">{{z.code}}</mat-checkbox>
  </div>

  <mat-checkbox
    class="chkReturned"
    color="primary"
    formControlName="returned"
    [(ngModel)]="returned">Returned
  </mat-checkbox>

  <button mat-raised-button color="primary"
    class="shred" *ngIf="data != null" (click)="shredConfirm(badge.id)">Shred Badge</button>

  <mat-dialog-actions>
    <button type="submit" [disabled]="!badgeForm.valid" mat-raised-button >OK</button>
    <button type="button" mat-raised-button (click)="onCancel()">Cancel</button>
  </mat-dialog-actions>
</form>
