.shreddingSpinner {
  position: absolute;
  width: 88.4%;
  height: 80%;
  background-color: rgba(180,180,200, 0.55);
}

.container {
  width:90vw;
}

.filter-panel {
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

.filter-panel div {
  margin-right: 5%;
}

mat-radio-button {
  margin-right: 1vw;
}
