/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~ag-grid/dist/styles/ag-grid.css";
@import "~ag-grid/dist/styles/ag-theme-balham.css";

.tb-spacer-max {
  flex: 1 1 auto;
}

.icon-control {
  cursor: pointer;
}

a:link {
  color: #3f51b5;
}

a:visited {
  color: #3f51b5;
}

mat-icon {
  color: black;
}

mat-icon.white {
  color: white;
}

mat-card {
  background-color: #ffffffd4 !important;
}

.sidenav1 mat-icon {
  color: white;
}

.card-content mat-icon {
  color: #3f51b5;
}

input.ng-dirty, textarea.ng-dirty {
  background: rgba(240,240,240,0.8);
}

.requester-prop .list-row {
  background: rgba(240,240,240,0.8);
}

div.filter-panel {
  /* background: rgba(240,240,240,0.8); */
  background: #fff;
  padding: 1em 2em;
}

.badges-table {
  background: #fff;
}

.requester-form {
  background: #fff;
  padding: 0.5em 1em;
  height: 95%;
}

.mat-elevation-z8 {
  background: #fff;
}
