h3, p {
  font-family: Roboto;
}

.requester-field{
  width:100%;
}

div.requester-container {
  display:flex;
  flex-direction: row;
  position:relative;
  height:80vh;
  width: 80vw;
  margin: auto;
}

div.req-form-container {
  position: relative;
  top:0;
  left:0;
  bottom:0;
  right: 50%;
  background: #fff;
  /* height:100%; */
  /* width:50%; */
}

div.requester-props-container {
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  align-items: space-between;
  position: relative;
  top:0;
  bottom:0;
  left:0;
  right:100%;
  margin-left:1%;
}

div.list-row {
  display: flex;
  width:100%;
  justify-content: space-between;
  border:0;
  padding:0;
  margin:0;
}

div.controls {
  /* display: inline-flex; */
  /* align-self: flex-end; */
  float:right;

}

.btn-li-control {
  position: relative;
  top: -10px;
}

.icon-control {
  cursor: pointer;
}

.icon-control:hover {
  color: lightgray;
}

hoveredIconControl {

}

div.requester-prop {
  display:flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  /* align-items: flex-end; */
  /* align-content: space-between; */

  /* margin:2%; */

  /* margin-right: 10%; */

  width: 40vw;
  height: 46%;
  padding:2%;

  /* max-height: 20vh; */
  /* overflow-y: auto; */
  /* border: 2px solid black; */
}

mat-table {
  overflow: auto;
  max-height: 140px;
  width:100%;
}

div.requester-prop mat-table {
  align-self: center;
}

div.requester-prop-plus {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

h2.req-prop-title {
  display: block;
  width:90%;
  margin-left:5%;
}

.requester-prop ul {
  align-self: stretch;
}

#plusPerson {
  /* margin-top: 70%;
  margin-left: 89%;
  align-self: flex-end; */
  /* position: relative;
  top: 80%;
  left: 80%; */
}

#plusVehicle {
  /* margin-top: 70%;
  margin-left:89%;
  align-self: flex-end; */
}

img.p-preview {
  max-width:150px;
  max-height:150px;
}

.req_li {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align:center;
  border-bottom: 1px solid grey;
}

.req_info{
  text-align: center;
  line-height:10px;
}

.req_list {
  max-height: 27vh;
  overflow: auto;
}

.main-send {
  /* margin-top:5%; */
  width:30%;
  padding: 3%;
  position:absolute;
  top: 85%;
  left:60%;
}

mat-list {
  overflow: auto;
}

@media screen and (max-width: 1800px){
  .main-send{
    padding-top:0;
    padding-bottom:0;
    top: 90%;
    left: 73%;
  }
}

@media screen and (max-width: 180px){
  .main-send{
    padding-top:0;
    padding-bottom:0;
    left: 90%;
    top: 0;
  }
}
