<div class="requester-container">
  <div class="req-form-container">
    <app-spinner class="reqSpinner mat-elevation-z8" *ngIf="showRequestSpinner"></app-spinner>
    <form class="requester-form" id="requester-form" (ngSubmit)="onSubmit()" [formGroup]="requesterForm" novalidate>
      <mat-form-field class="requester-field">
        <input matInput
          placeholder="Requester Name / Барател"
          id="requesterName"
          name="requesterName"
          formControlName="requesterName"
          autocomplete="off"
          required>
      </mat-form-field>
      <mat-form-field class="requester-field">
        <input matInput
          placeholder="Email / Е-пошта"
          id="contactEmail"
          name="contactEmail"
          formControlName="contactEmail"
          autocomplete="off"
          type="email"
          required>
      </mat-form-field>
      <mat-form-field class="requester-field">
        <input matInput
          placeholder="Contact Phone / Телефонски број"
          id="contactPhone"
          name="contactPhone"
          formControlName="contactPhone"
          autocomplete="off"
          type="number"
          required>
      </mat-form-field>
      <mat-form-field class="requester-field">
        <textarea name="requesterDescription"
          id="requesterDescription"
          matInput placeholder="Description / Опис на барањето *"
          formControlName="requesterDescription"
          (keyup)="cyrilicOnly($event)"
          autocomplete="off"
        ></textarea>
      </mat-form-field>
      <mat-form-field class="requester-field">
        <textarea name="requesterDescriptionEn"
          id="requesterDescriptionEn"
          matInput placeholder="Description in English / Опис на барањето на англиски јазик *"
          formControlName="requesterDescriptionEn"
          (keyup)="latinOnly($event)"
          autocomplete="off"
        ></textarea>
      </mat-form-field>
      <mat-form-field class="company-field">
        <input type="text" placeholder="Company / Компанија *" [formControl]="companiesAutoCtrl" matInput [matAutocomplete]="comp_auto">
        <mat-autocomplete #comp_auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let comp of companies_auto" [value]="comp">
            {{ comp.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="fromPicker" placeholder="From date / Од датум"
        formControlName="requesterFromDate" required>
        <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
        <mat-datepicker #fromPicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="toPicker" placeholder="To date / До датум"
        formControlName="requesterToDate" required>
        <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
        <mat-datepicker #toPicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Number of entries / Број на посети" formControlName="requesterNumOfEntries"
          class="wide-select" name="requesterNumOfEntries" id="requesterNumOfEntries" autocomplete="off" required>
          <mat-option *ngFor="let e of nEntries" selected [value]="e.value">
            {{e.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngIf="!editMode" class="upload-pdfs">
        <div class="pdf-upload">
          You can merge multiple PDFs <a href="https://lightpdf.com/merge-pdf">here</a><br>
          За спојување на повеќе PDF датотеки, Ве молиме искористете го следниов <a href="https://lightpdf.com/merge-pdf">сервис</a><br>
          <button type="button" mat-raised-button (click)="pdfUpload1.click()">
            Attach PDF / Прикачи документ<mat-icon>keyboard_arrow_up</mat-icon>
            <input type="file" hidden #pdfUpload1
            accept="application/pdf"
            (change)="savePdf($event)" name="pdf1" id="pdf1" formControlName="pdf1">
          </button> <span>{{pdf1filename}}</span>
        </div>
        <div class="pdf-upload" style="margin-top:3%;">
          <button type="button" mat-raised-button (click)="pdfUpload2.click()">
            Attach BSR / Прикачи BSR<mat-icon>keyboard_arrow_up</mat-icon>
            <input type="file" hidden #pdfUpload2
            accept="application/pdf"
            (change)="savePdf($event)" name="pdf2" id="pdf2" formControlName="pdf2">
          </button> <span>{{pdf2filename}}</span>
        </div>
      </div>

      <div *ngIf="editMode" class="download-pdfs">
        <a [href]="sanitizeURL(pdfToBlob(this.request.pdf1))" target="_blank">
          <div class="pdf-upload" style="margin-bottom: 10%;">
            <button type="button" mat-raised-button>
              Download PDF<mat-icon>keyboard_arrow_down</mat-icon>
            </button>
          </div>
        </a>
        <div *ngIf="this.request.pdf2 != null" class="pdf-upload" style="margin-top:10%;">
          <a [href]="sanitizeURL(pdfToBlob(this.request.pdf2))" target="_blank">
            <button type="button" style="margin-bottom: 5em;" mat-raised-button>
              Download BSR<mat-icon>keyboard_arrow_down</mat-icon>
            </button>
          </a>
        </div>
        <button mat-raised-button type="button"
          style="margin:1rem; margin-top: 0;" (click)="printRequest()">
          Print PDF<mat-icon class="icon-control">print</mat-icon>
        </button>
        <br>
        <button mat-raised-button type="button"
          style="margin:1rem;" (click)="printRequest2()">
          Print BSR<mat-icon class="icon-control">print</mat-icon>
        </button>
        <div style="display:block;">
          <mat-checkbox
            color="primary"
            [(ngModel)]="personPay"
            [ngModelOptions]="{standalone: true}">Charge Persons
          </mat-checkbox>
          <mat-checkbox
            color="primary"
            [(ngModel)]="vehiclePay"
            style="margin-left:2rem;"
            [ngModelOptions]="{standalone: true}">Charge Vehicles
          </mat-checkbox>
        </div>
      </div>
      <button *ngIf="!editMode"
        mat-raised-button type="submit" color="primary"
        [disabled]="imagesCheck() || !requesterForm.valid || !companyOk"
        class="main-send">Send</button>
      <button type="button" *ngIf="showApproveBtn"
        (click)="approve(request.id)" mat-raised-button color="primary"
        class="main-send">Approve</button>
      <button type="button" *ngIf="showDeclineBtn"
        (click)="decline(request.id)" mat-raised-button color="primary"
        class="main-send">Decline</button>
      <button type="button" *ngIf="showApproveBtn || showDeclineBtn" mat-raised-button color="primary"
        style="float:left; margin:2rem; margin-left:5rem;" (click)="editRequest()">Update</button>
    </form>

  </div>
  <div class="requester-props-container">
    <div class="requester-prop mat-elevation-z8">
      <app-spinner *ngIf="showRequestSpinner" class="reqSpinner mat-elevation-z8"></app-spinner>
      <mat-list dense role="list">
        <mat-list-item *ngFor="let person of requesterService.getAllPersons(); let i = index">
          <div class="list-row">
            <div>
              <span class="person-name">{{person.name}}</span>
              <span class="person-surname">{{person.surname}}</span>
            </div>
            <div>
              <mat-icon matListIcon
                (click)="editPerson(i)"
                class="icon-control"
                >border_color</mat-icon>
              <mat-icon matListIcon
                (click)="deletePerson(i)"
                class="icon-control">delete</mat-icon>
            </div>
          </div>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
      <button mat-mini-fab  color="primary" (click)="openPersonDialog()" id="plusPerson">+
      </button>
    </div>
    <div class="requester-prop mat-elevation-z8">
      <mat-list dense role="list">
        <mat-list-item *ngFor="let vehicle of requesterService.getAllVehicles(); let i = index">
          <div class="list-row">
            <div>
              <span class="vehicle-plate">{{vehicle.plate}}</span>
            </div>
            <div>
              <mat-icon matListIcon
                (click)="editVehicle(i)"
                class="icon-control"
                >border_color</mat-icon>
              <mat-icon matListIcon
                (click)="deleteVehicle(i)"
                class="icon-control">delete</mat-icon>
            </div>
          </div>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
      <button mat-mini-fab color="primary" (click)="openVehicleDialog()" id="plusVehicle">+
      </button>
    </div>
  </div>
</div>
