<form [formGroup]="zoneForm" (ngSubmit)="onSubmit()" novalidate>
  <mat-form-field>
    <input matInput type="number" name="zoneCode"
    id="zoneCode" placeholder="Code"
    formControlName="code"
    autocomplete="off" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput name="zoneName"
    id="zoneName" placeholder="Name"
    formControlName="name"
    autocomplete="off" required>
  </mat-form-field>

  <mat-divider class="sm-form-divider-margins"></mat-divider>
  <mat-dialog-actions>
    <button type="submit" [disabled]="!zoneForm.valid" mat-raised-button>OK</button>
    <button type="button" mat-raised-button (click)="onCancel()">Cancel</button>
  </mat-dialog-actions>
</form>
